body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container.dark {
    background-color: rgba(3, 3, 3, 0.5);
}